src/main/mule/olympus-platform-chatbot-test-api-specs.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
  <flow name="olympus-platform-chatbot-test-api-specs-main">
    <http:listener
      config-ref="olympus-platform-chatbot-test-api-specs-httpListenerConfig"
      path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="olympus-platform-chatbot-test-api-specs-config" />
    <error-handler ref="Global_Error_Handler" />
  </flow>
  <flow name="olympus-platform-chatbot-test-api-specs-console">
    <http:listener
      config-ref="olympus-platform-chatbot-test-api-specs-httpListenerConfig"
      path="/console/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="olympus-platform-chatbot-test-api-specs-config" />
    <error-handler ref="Console_Error_Handler" />
  </flow>
  <flow name="post:\finance:application\json:olympus-platform-chatbot-test-api-specs-config">
    <logger
      level="INFO"
      message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	endpoint: "post:\finance:application\json:olympus-platform-chatbot-test-api-specs-config",&#10;	data: payload&#10;}]' />
    <ee:transform
      doc:name="Transform Message"
      doc:id="bed1981d-3f2e-4191-aca3-657e28ce98e6">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <flow-ref
      doc:name="implementation-finance-init-process-choice-option-flow"
      doc:id="afe7614f-c1cc-4fe0-a6ca-177e0058a527"
      name="implementation-finance-init-process-choice-option-flow" />
    <error-handler ref="Global_Error_Handler" />
  </flow>
</mule>
